Examen 17-03-2021/arbol.dtd

<!ELEMENT arbol (lugares,personas)>
<!ELEMENT lugares (lugar+)>
<!ELEMENT personas (persona+)>
<!ELEMENT persona (nombre,padre?,madre?,nacimiento)>
<!ELEMENT lugar (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT padre (#PCDATA)>
<!ELEMENT madre (#PCDATA)>
<!ELEMENT nacimiento (#PCDATA)>
<!ATTLIST lugar nombre CDATA #REQUIRED>
<!ATTLIST lugar pais CDATA #REQUIRED>
<!ATTLIST nacimiento lugar CDATA #REQUIRED>
<!ATTLIST nacimiento fecha CDATA #IMPLIED>